<div class="main-header">
  <div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <div class="avatar">
      <div class="avatar__img">
        <img src="assets/images/avatar.png" alt="avatar">
      </div>
      <div class="avatar__name">م/ علي عبدالرحيم</div>
    </div>
    <ul class="sidebarMenuInner">
      <li><a href="https://vanila.io" target="_blank"> <i class="icon-film"> </i>الرئسية</a></li>
      <li>
        <a href="https://instagram.com/plavookac" target="_blank">الشبكات</a>
      </li>
      <li>
        <a href="https://twitter.com/plavookac" target="_blank">بيانات العاملين</a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg"
          target="_blank"
          >مركز التدريب</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/plavookac/" target="_blank"
          >تتبع المستندات</a
        >
      </li>
    </ul>
  </div>
</div>
