<div class="main">
  <div class="modal-background" *ngIf="showError">
    <div class="modal">
      <div class="modal-header">
        <span class="close-button" (click)="closeError()">&times;</span>
      </div>
      <div class="modal-body">
        <div class="modal-content">
          <img
            src="assets/images/error-icon.png"
            alt="Error"
            class="error-icon"
          />
          <h2>خطأ في الادخال!</h2>
          <p>من فضلك تأكد من اسم المستخدم وكلمة المرور.</p>
          <button (click)="closeError()">حسنا</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="banner">
      <img src="assets/images/logo.png" alt="profile" width="70" />
      <h1 class="equal-line-length">.C. T. S</h1>
      <h3>Complete Tracking System</h3>
    </div>
    <div class="form right-align-placeholder">
      <small>تسجيل الدخول </small>
      <input
        type="email"
        [(ngModel)]="username"
        autocomplete="off"
        placeholder="اسم المستخدم"
      />
      <input type="password" [(ngModel)]="password" placeholder="كلمة المرور" />
      <button (click)="onLogin()">دخول</button>
      <a id="forgot">هل نسيت كلمة المرور</a>
    </div>
  </div>
</div>
